
#reviews{
    width: 100%;
    padding: 50px;
    background-color: var(--cor-secundaria);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 1.5px var(--cor-preto);
    border-top: solid 1.5px var(--cor-preto);
  }

 

  .bloco-reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    flex-direction: row;
    
  }
  
  .bloco-reviews div{
    width: 25%;
    min-width: 250px;
    height: 33vh;
    background-color: var(--fundo-review);
    border-radius: 16px;
    border: solid 2px var(--cor-preto);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  .bloco-reviews div:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    
}

  .bloco-reviews div img{
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .bloco-reviews div h1{
    padding: 20px 40px;
    font-size: 1rem;
    color: rgb(21, 21, 21);
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }

  .easter-egg img {
    width:150px;
    height:150px;
    border-radius: 40px;
  }

  .godisageek img {
    width:180px;
    height:110px;
  }

  .godisageek h1 {
    align-items: center;
  }

  .ign img {
    width:115px;
    height:115px;
  }

  @media(max-width: 1024px){
    .ign img{
      width:100px;
      height:10vh;
    }
  }

  .six img {
    width:90px;
    height:90px;
  }

  @media(max-width: 1024px){
    .six img{
      width:60px;
      height:60px;
    }
  }

  .leonardo img {
    width:109px;
    height:135px;
  }

  .manoel img {
    width:135px;
    height:135px;
  }