:root{
    --cor-principal: #d44838;
    --cor-secundaria: #f4b83f;
    --cor-header: #e9923c;
    --cor-fundo: #3d2b2b;
    --cor-50: #000000b3;
    --cor-preto: #000000;
    --borda-imagem: #8c3939cf;
    --fundo-review: #8f5a24;
  }